body {
  margin: 0px;
  font-family: sans-serif;
}
.timer-container {
  background-color: blue;
}
.timer {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
